{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if object %}Edit Category{% else %}Add Category{% endif %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>{% if object %}Edit Category{% else %}Add New Category{% endif %}</h1>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Save</a>
        <a href="{% url 'category:category-list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}